/*
*
* This file is part of MegaPOV documentation
* This file contains CSS customization of HTML files
*
* $RCSfile: megapov.css,v $
* $Revision: 1.1.1.1 $
* $Author: abx $
*
*/

body {
  font-family: "Verdana", "Helvetica", "Arial", "sans-serif" ;
  text-align: justify ;
  background-color: #ffffff ;
}

pre {
  font-family: "Lucida Console","Courier New","Monaco","Courier","monospace" ;
  color: #000000 ;
  text-align: left;
  background-color: #e6f4ff ;
  border: 1px solid ;
  border-color: #cfdbe5 ;
  padding: 3pt;
  white-space: pre;
}

h1, h2, h3, h4, h5, h6, h7 {
  border: 1px solid ;
  padding-left: 3pt
}

cite { font-weight: bold ; color: #ff0000 }
code, tt { color: #0000a0 }

/*
h1 {        background-color: #fff0e8 ; border-color: #f0e0c0 ; color: #2040c0 }
h2 {        background-color: #ffe8d0 ; border-color: #f0d0c0 ; color: #2040c0 }
h3 {        background-color: #ffe4c0 ; border-color: #f0d0a0 ; color: #2040c0 }
h4 {        background-color: #ffdcc0 ; border-color: #f0d0b0 ; color: #2040c0 }
h5 {        background-color: #ffdaca ; border-color: #f0ccb0 ; color: #000000 }
*/

h1 { background-color: #eeeeee ; border-color: #808080 ; color: #2040c0 }
h2 { background-color: #ddddee ; border-color: #808080 ; color: #2040c0 }
h3 { background-color: #dddddd ; border-color: #808080 ; color: #2040c0 }
h4 { background-color: #dddddd ; border-color: #808080 ; color: #2040c0 }
h5 { background-color: #dddddd ; border-color: #808080 ; color: #000000; font-size: 8pt }
h6 { background-color: #dddddd ; border-color: #808080 ; color: #000000; font-size: 7pt }
h7 { background-color: #dddddd ; border-color: #808080 ; color: #000000; font-size: 7pt }


.navheader {
  border: 1px outset;
  /*background-color: #ffcc99;*/
  background-color: #aaaaaa;
}

.navfooter {
  border: 1px outset;
  /*background-color: #ffcc99;*/
  background-color: #aaaaaa;
  margin-top: 10px;
}

div.section {
  margin-left:0px;
}

div.section_1 {
  margin-left:20px;
}

div.section_2 {
  margin-left:20px;
}

div.section_3 {
  margin-left:20px;
}

div.table {
  padding: 3pt;
}

dt {
  margin-left: 3pt;
  margin-bottom: 3pt;
}

.author {
  color: #000000 ;
  font-style: italic;
  background-color: #ffffff ;
  border: 0;
}

h1.author {
  font-size: 90%;
  font-weight:500;
}

h2.author {
  font-size: 90%;
  font-weight:500;
}

h3.author {
  font-size: 90%;
  font-weight:500;
}

h4.author {
  font-size: 90%;
  font-weight:500;
}

h5.author {
  font-size: 90%;
  font-weight:500;
}

h6.author {
  font-size: 90%;
  font-weight:500;
}

h2.subtitle {
  background-color: #ffffff ;
  border: 0px ;
  padding-left: 0pt ;
}

.simplelist { color: #0000a0 }

.funcsynopsis, .synopsis {
  font-family: "Lucida Console","Courier New","Monaco","Courier","monospace" ;
  color: #000000 ;
  text-align: left;
  background-color: #e6f4ff ;
  border: 1px solid ;
  border-color: #cfdbe5 ;
  padding: 3pt;
}

.programlisting, .screen {
  font-family: "Lucida Console","Courier New","Monaco","Courier","monospace" ;
  color: #000000 ;
  text-align: left;
  /*background-color: #FFC0CB ;*/
  background-color: #FFDDCC ;
  border: 1px solid;
  border-color: #800080 ;
  padding: 3pt;
}

.important {
  color: #000000 ;
  background-color: #f0f4ff ;
  border: 1px solid;
  padding: 5pt;
  margin-top:12pt;
  margin-bottom:12pt;
}

.note {
  color: #000000;
  background-color: #e6f4ff;
  border: 1px solid ;
  border-color: #cfdbe5;
  padding: 5pt;
}

.example {
  border: 1px outset;
  text-align: left;
  background-color: #e6f4ff;
  padding: 5pt;
  margin-top: 10px;
}
